h1, h2, h3, h4, h5, h6, .h5, .h6 {
    font-weight: 700 !important;
}

p{
    font-weight: 400 !important;
}

main {
    min-height: 700px;
}

#solution {
    #carouselExampleIndicators {
        float: right;
        margin: 15px;
        width: 50%;
        
        @media (max-width: 768px) {
            margin: 15px 0;
            align-self: center;
            width: 100%;
        }
    }
    p {
        text-align: justify;
    }
}

footer {
    a {
        color: black;
        font-weight: 400;
    }
}
  
  .sel  {
    background: rgb(255,242,71,0.6);
  }