h1, h2, h3, h4, h5, h6, .h5, .h6 {
    font-weight: 700 !important;
}

body,html {
    min-height: 800px;
  
}
p{
    font-weight: 400 !important;
    font-size: 15px;
}

main {
    min-height: 700px;
}

#solution {
    #carouselExampleIndicators {
        float: right;
        margin: 15px;
        width: 50%;
        
        @media (max-width: 768px) {
            margin: 15px 0;
            align-self: center;
            width: 100%;
        }
    }
    p {
        text-align: justify;
    }
}

 
footer {
    background-color: #262626;
    color: white;
    a {
        color: white ;
        font-weight: 400;
    }
    .copyright {
        color: #777777;
        padding: 10px 0px;
        font-size: 14px;
        margin: 15px 3px;
        line-height: 20px;
        text-align: center;
      }
       .heart{
          color: #EB5E28;
      }
}
  
  .sel  {
    background: rgb(255,242,71,0.6);
  }

  .btn-primary{
    background-color: #D9D75A !important;
    color: black !important;
  }