// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.css';


// Variables
@import 'variables';

//custom 
@import 'custom';

//multi step 
@import 'multistep';

//info slider 
@import 'slider';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
